<div class="sustainability_section_2">
  <div class="wrapperr">
    <div class="sustainability_section_2-upper">
      <div class="button">
        <button class="casual_btn">{{ section.settings.text_1 }}</button>
      </div>
      <div class="title">
        <h2>{{ section.settings.text_2 }}</h2>
      </div>
      <div class="desc">
        <p>
          {{ section.settings.text_3 }}
        </p>
      </div>
    </div>
  </div>
  <div class="sustainabilty_section_2_lower">
    <div class="sustainabilty_section_2_lower-frst pure-g">
      <div class="landUser pure-u-1 pure-u-md-12-24">
        <div class="landUser-logo"><img src="{{ section.settings.logo_1 | image_url }}" alt=""></div>
        <div class="landuser-title">
          <h5>{{ section.settings.text_4 }}</h5>
        </div>
        <div class="landuser-desc">
          <h6>{{ section.settings.text_5 }}</h6>
        </div>
        <div class="landuser_less">
          <h6>{{ section.settings.text_6 }}</h6>
        </div>

        <div class="landuser_valu">
          <h5>{{ section.settings.text_7 }}</h5>
          <div class="value-frst">
            <span class="bar_line"> </span>
            <h6>{{ section.settings.text_8 }}</h6>
            <p>{{ section.settings.text_9 }}</p>
          </div>
          <div class="value-frst">
            <span class="bar_line-2"> </span>
            <h6>{{ section.settings.text_10 }}</h6>
            <p>{{ section.settings.text_11 }}</p>
          </div>
          <div class="value-frst">
            <span class="bar_line-3"> </span>
            <h6>{{ section.settings.text_12 }}</h6>
            <p>{{ section.settings.text_13 }}</p>
          </div>
        </div>

        <div class="landuser_end-value">
          <h5>{{ section.settings.text_14 }}</h5>
          <span class="bar_line-end"> </span>
          <h6>{{ section.settings.text_15 }}</h6>
          <p>{{ section.settings.text_16 }}</p>
        </div>
      </div>
      <div class="landUser-image pure-u-1 pure-u-md-12-24">
        <img src="{{ section.settings.image_1 | image_url }}" alt="image">
      </div>
    </div>
    <div class="sustainabilty_section_2_lower-scnd pure-g">
      <div class="landUser-image land-2-img pure-u-1 pure-u-md-12-24">
        <img src="{{ section.settings.image_2 | image_url }}" alt="image">
      </div>
      <div class="landUser land-2 pure-u-1 pure-u-md-12-24">
        <div class="landUser-logo"><img src="{{ section.settings.logo_2 | image_url }}" alt=""></div>
        <div class="landuser-title">
          <h5>{{ section.settings.text_17 }}</h5>
        </div>
        <div class="landuser-desc">
          <h6>{{ section.settings.text_18 }}</h6>
        </div>
        <div class="landuser_less">
          <h6>{{ section.settings.text_19 }}</h6>
        </div>

        <div class="landuser_valu">
          <h5>{{ section.settings.text_20 }}</h5>
          <div class="value-frst">
            <h6>{{ section.settings.text_21 }}</h6>
            <span class="bar_line"> </span>
            <p>{{ section.settings.text_22 }}</p>
          </div>
          <div class="value-frst">
            <h6>{{ section.settings.text_23 }}</h6>
            <span class="bar_line-2"> </span>
            <p>{{ section.settings.text_24 }}</p>
          </div>
          <div class="value-frst">
            <h6>{{ section.settings.text_25 }}</h6>
            <span class="bar_line-3"> </span>
            <p>{{ section.settings.text_26 }}</p>
          </div>
        </div>

        <div class="landuser_end-value">
          <h5>{{ section.settings.text_27 }}</h5>
          <h6>{{ section.settings.text_28 }}</h6>
          <span class="bar_line-end"> </span>
          <p>{{ section.settings.text_29 }}</p>
        </div>
      </div>
    </div>
    <div class="sustainabilty_section_2_lower-frst pure-g">
      <div class="landUser pure-u-1 pure-u-md-12-24">
        <div class="landUser-logo"><img src="{{ section.settings.logo_3 | image_url }}" alt=""></div>
        <div class="landuser-title">
          <h5>{{ section.settings.text_30 }}</h5>
        </div>
        <div class="landuser-desc">
          <h6>{{ section.settings.text_31 }}</h6>
        </div>
        <div class="landuser_less">
          <h6>{{ section.settings.text_32 }}</h6>
        </div>

        <div class="landuser_valu">
          <h5>{{ section.settings.text_33 }}</h5>
          <div class="value-frst">
            <span class="bar_line"> </span>
            <h6>{{ section.settings.text_34 }}</h6>
            <p>{{ section.settings.text_35 }}</p>
          </div>
          <div class="value-frst">
            <span class="bar_line-2"> </span>
            <h6>{{ section.settings.text_36 }}</h6>
            <p>{{ section.settings.text_37 }}</p>
          </div>
          <div class="value-frst">
            <span class="bar_line-3"> </span>
            <h6>{{ section.settings.text_38 }}</h6>
            <p>{{ section.settings.text_39 }}</p>
          </div>
        </div>

        <div class="landuser_end-value">
          <h5>{{ section.settings.text_40 }}</h5>
          <span class="bar_line-end"> </span>
          <h6>{{ section.settings.text_41 }}</h6>
          <p>{{ section.settings.text_42 }}</p>
        </div>
      </div>
      <div class="landUser-image pure-u-1 pure-u-md-12-24">
        <img src="{{ section.settings.image_3 | image_url }}" alt="image">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "abilty_section-2",
  "settings": [
    {
      "label": "logo_1",
      "id": "logo_1",
      "type": "image_picker"
    },
    {
      "label": "logo_2",
      "id": "logo_2",
      "type": "image_picker"
    },
    {
      "label": "logo_3",
      "id": "logo_3",
      "type": "image_picker"
    },
    {
      "label": "image_1",
      "id": "image_1",
      "type": "image_picker"
    },
    {
      "label": "image_2",
      "id": "image_2",
      "type": "image_picker"
    },
    {
      "label": "image_3",
      "id": "image_3",
      "type": "image_picker"
    },
    {
      "label": "text_1",
      "id": "text_1",
      "type": "text"
    },
    {
      "label": "text_2",
      "id": "text_2",
      "type": "text"
    },
    {
      "label": "text_3",
      "id": "text_3",
      "type": "text"
    },
    {
      "label": "text_4",
      "id": "text_4",
      "type": "text"
    },
    {
      "label": "text_5",
      "id": "text_5",
      "type": "text"
    },
    {
      "label": "text_6",
      "id": "text_6",
      "type": "text"
    },
    {
      "label": "text_7",
      "id": "text_7",
      "type": "text"
    },
    {
      "label": "text_8",
      "id": "text_8",
      "type": "text"
    },
    {
      "label": "text_9",
      "id": "text_9",
      "type": "text"
    },
    {
      "label": "text_10",
      "id": "text_10",
      "type": "text"
    },
    {
      "label": "text_11",
      "id": "text_11",
      "type": "text"
    },
    {
      "label": "text_12",
      "id": "text_12",
      "type": "text"
    },
    {
      "label": "text_13",
      "id": "text_13",
      "type": "text"
    },
    {
      "label": "text_14",
      "id": "text_14",
      "type": "text"
    },
    {
      "label": "text_15",
      "id": "text_15",
      "type": "text"
    },
    {
      "label": "text_16",
      "id": "text_16",
      "type": "html"
    },
    {
      "label": "text_17",
      "id": "text_17",
      "type": "text"
    },
    {
      "label": "text_18",
      "id": "text_18",
      "type": "text"
    },
    {
      "label": "text_19",
      "id": "text_19",
      "type": "text"
    },
    {
      "label": "text_20",
      "id": "text_20",
      "type": "text"
    },
    {
      "label": "text_21",
      "id": "text_21",
      "type": "text"
    },
    {
      "label": "text_22",
      "id": "text_22",
      "type": "text"
    },
    {
      "label": "text_23",
      "id": "text_23",
      "type": "text"
    },
    {
      "label": "text_24",
      "id": "text_24",
      "type": "text"
    },
    {
      "label": "text_25",
      "id": "text_25",
      "type": "text"
    },
    {
      "label": "text_26",
      "id": "text_26",
      "type": "text"
    },
    {
      "label": "text_27",
      "id": "text_27",
      "type": "text"
    },
    {
      "label": "text_28",
      "id": "text_28",
      "type": "text"
    },
    {
      "label": "text_29",
      "id": "text_29",
      "type": "html"
    },
    {
      "label": "text_30",
      "id": "text_30",
      "type": "text"
    },
    {
      "label": "text_31",
      "id": "text_31",
      "type": "text"
    },
    {
      "label": "text_32",
      "id": "text_32",
      "type": "text"
    },
    {
      "label": "text_33",
      "id": "text_33",
      "type": "text"
    },
    {
      "label": "text_34",
      "id": "text_34",
      "type": "text"
    },
    {
      "label": "text_35",
      "id": "text_35",
      "type": "text"
    },
    {
      "label": "text_36",
      "id": "text_36",
      "type": "text"
    },
    {
      "label": "text_37",
      "id": "text_37",
      "type": "text"
    },
    {
      "label": "text_38",
      "id": "text_38",
      "type": "text"
    },
    {
      "label": "text_39",
      "id": "text_39",
      "type": "text"
    },
    {
      "label": "text_40",
      "id": "text_40",
      "type": "text"
    },
    {
      "label": "text_41",
      "id": "text_41",
      "type": "text"
    },
    {
      "label": "text_42",
      "id": "text_42",
      "type": "html"
    }
  ],
  "presets": [
    {
      "name": "abilty_section-2"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
