<div>
  <div class="secParent">
    <img
      class="blueCurveTop"
      src="{{ section.settings.image_1 | image_url }}"
      alt=""
    >
    <div class="iconsParentColorWrapper">
      <div class="icon4SectionParent">
        <div class="iconSection1">
          <div class="imgFoodDog">
            <div class="basePosition">
              <img src="{{ section.settings.image_2 | image_url }}" alt="">
              <img
                class="baseRing"
                src="{{ section.settings.image_3 | image_url }}"
                alt=""
              >
              <img
                class="innerIcon"
                src="{{ section.settings.image_4 | image_url }}"
                alt=""
              >
            </div>
          </div>
          <div class="iconHeading">{{ section.settings.text_1 }}</div>
          <div class="iconPara">
            <p>{{ section.settings.text_2 }}</p>
          </div>
        </div>
        <!-- //// Flag Icon /// -->
        <div class="iconSection1">
          <div class="imgFoodDog">
            <div class="basePosition">
              <img src="{{ section.settings.image_5 | image_url }}" alt="">
              <!--
                <img
                	class="baseRing"
                	src="./images/basering.png"
                	alt=""
                />
              -->
              <img
                class="innerIcon"
                src="{{ section.settings.image_6 | image_url }}"
                alt=""
              >
            </div>
          </div>
          <div class="iconHeading">{{ section.settings.text_3 }}</div>
          <div class="iconPara">
            <p>{{ section.settings.text_4 }}</p>
          </div>
        </div>
        <!-- //// Flag Icon /// -->
        <!-- //// CareFully Icon /// -->
        <div class="iconSection1">
          <div class="imgFoodDog">
            <div class="basePosition">
              <img src="{{ section.settings.image_7 | image_url }}" alt="">
              <!--
                <img
                	class="baseRing"
                	src="./images/basering.png"
                	alt=""
                />
              -->
              <img
                class="innerIcon"
                src="{{ section.settings.image_8 | image_url }}"
                alt=""
              >
            </div>
          </div>
          <div class="iconHeading">{{ section.settings.text_5 }}</div>
          <div class="iconPara">
            <p>{{ section.settings.text_6 }}</p>
          </div>
        </div>
        <!-- //// CareFully Icon /// -->
        <!-- //// Elegiacal Delivery Icon /// -->
        <div class="iconSection1">
          <div class="imgFoodDog">
            <div class="basePosition">
              <img src="{{ section.settings.image_9 | image_url }}" alt="">
              <img
                class="baseRing"
                src="{{ section.settings.image_10 | image_url }}"
                alt=""
              >
              <!--
                <img
                	class="innerIcon"
                	src="./images/basefood.png"
                	alt=""
                />
              -->
            </div>
          </div>
          <div class="iconHeading">{{ section.settings.text_7 }}</div>
          <div class="iconPara">
            <p>{{ section.settings.text_8 }}</p>
          </div>
        </div>
        <!-- //// Elegiacal Delivery Icon /// -->
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "whyus_section_1",
  "settings": [
    {
      "label": "image_1",
      "id": "image_1",
      "type": "image_picker"
    },
    {
      "label": "image_2",
      "id": "image_2",
      "type": "image_picker"
    },
    {
      "label": "image_3",
      "id": "image_3",
      "type": "image_picker"
    },
    {
      "label": "image_4",
      "id": "image_4",
      "type": "image_picker"
    },
    {
      "label": "image_5",
      "id": "image_5",
      "type": "image_picker"
    },
    {
      "label": "image_6",
      "id": "image_6",
      "type": "image_picker"
    },
    {
      "label": "image_7",
      "id": "image_7",
      "type": "image_picker"
    },
    {
      "label": "image_8",
      "id": "image_8",
      "type": "image_picker"
    },
    {
      "label": "image_9",
      "id": "image_9",
      "type": "image_picker"
    },
    {
      "label": "image_10",
      "id": "image_10",
      "type": "image_picker"
    },
    {
      "label": "text_1",
      "id": "text_1",
      "type": "text"
    },
    {
      "label": "text_2",
      "id": "text_2",
      "type": "text"
    },
    {
      "label": "text_3",
      "id": "text_3",
      "type": "text"
    },
    {
      "label": "text_4",
      "id": "text_4",
      "type": "text"
    },
    {
      "label": "text_5",
      "id": "text_5",
      "type": "text"
    },
    {
      "label": "text_6",
      "id": "text_6",
      "type": "text"
    },
    {
      "label": "text_7",
      "id": "text_7",
      "type": "text"
    },
    {
      "label": "text_8",
      "id": "text_8",
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "whyus_section_1"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
