
<section>
  <div style="background-image: url('{{ section.settings.bg | image_url }}');"
 class="howworksec secspacing">
        <div class="wrapper">
            <div class="workmain">
                <div class="workh">
                    <h1>{{ section.settings.title1 }}</h1>
                </div>
                <h2>{{ section.settings.title2 }}</h2>
            </div>
            <div class="workbox">
                <div class="work1">
                    <img src="{{ section.settings.image1 | image_url }}" alt="">
                   
                </div>
                <div class="work2">
                    <h1>{{ section.settings.title3 }}</h1>
                    <p>{{ section.settings.para1 }}</p>
                    <div class="arrow1">
                        <img src="{{ section.settings.image2 | image_url }}" alt="">
                    </div>
                    
                </div>
                <div class="work2">
                    <h1>{{ section.settings.title4 }}</h1>
                    <p>{{ section.settings.para2 }}</p>
                    <div class="arrow2">
                        <img src="{{ section.settings.image3 | image_url }}" alt="">
                    </div>
                </div>
                <div class="work1">
                    <img src="{{ section.settings.image4 | image_url }}" alt="">
                </div>
                <div class="work1">
                    <img src="{{ section.settings.image5 | image_url }}" alt="">
                </div>
                <div class="work2">
                    <h1>{{ section.settings.title5 }}</h1>
                    <p>{{ section.settings.para3 }}</p>
                </div>
            </div>
            <div class="workbtn">
                <a class="p_btn_2 quizOpen" >{{ section.settings.call_to_action }}</a>
            </div>
        </div>
    </div>
</section>




{% schema %}
{
  "name": "works",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg",
      "label": "background"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "title1"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "title2"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "image1"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "title3"
    },
    {
      "type": "richtext",
      "id": "para1",
      "label": "para1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "image2"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "title4"
    },
    {
      "type": "richtext",
      "id": "para2",
      "label": "para2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "image3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "image4"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "image5"
    },
    {
      "type": "text",
      "id": "title5",
      "label": "title5"
    },
    {
      "type": "richtext",
      "id": "para3",
      "label": "para3"
    },
    {
      "type": "text",
      "id": "call_to_action",
      "label": "call to action"
    }
  ],
  "presets": [
    {
      "name": "works"
    }
  ]
}
{% endschema %}